@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900');
/*Styles Menu-index*/
body{
	font-family: 'Titillium Web', sans-serif;
}
.header-index{
	height: 100vh;
}
.home-video{
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100vh;
}
.home-video video{
	width: 120%;
	z-index: 1;
}
.home-video .hover{
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,0.49) 51%, rgba(237,237,237,0) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.home-video .container-fluid{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}
.home-video .container-fluid .row{
	text-align: center;
	height: 100%;
	align-items: center;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.element{
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bold;
}
.typed-cursor{
	font-size: 2.5rem;
}
.home-video p{
	padding-top: 2rem;
}
.home-video .col-12{
	position: relative;
}
nav{
	position: relative;
	z-index: 3;
	background-color: rgba(0,0,0,0.7);
}
nav .navbar-nav{
	align-content: center;
	justify-content: center;
	text-transform: uppercase;
}
nav .nav-link{
	color: #fff;
	font-size: 1.3rem;
	transition: all .3s;
}
nav .nav-item{
	transition: all .3s;
}
nav .nav-item:hover{
	background-color: #fff;
}
nav .nav-item:hover .nav-link{
	color: #333333;
}

.navbar-collapse{
	justify-content: center;
}
.navbar-toggler-icon{
	background: url(../images/menu.svg);
}
.navbar-toggleable-md .navbar-nav .nav-link{
	padding-left: 1em;
	padding-right: 1em;
}
.arrow-down{
	max-width: 40px;
	bottom: 40px;
	cursor: pointer;
	z-index: 5;
	left: calc(50% - 20px);
	position: absolute;
	animation-name: arrow-bot;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes arrow-bot {
    0%   {transform: translateY(0px);}
    50%  {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}
.sec-index-1 .col-12 h2{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #333;
	font-size: 2.8rem;
}
.sec-index-1 .col-6 p{
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	font-size: 1.3rem;
}
.sec-index-1 .col-6{
	background-color: #009eff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sec-index-2 .col-12 h1{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	color: #333;
	font-size: 2.8rem;
}
.sec-index-2 .col-6 p{
	text-align: left;
	color: #ffffff;
	font-weight: 300;
	font-size: 1.1rem;
}
.sec-index-2 .col-6 ul li{
	text-align: left;
	color: #ffffff;
	font-weight: 300;
	font-size: 1.1rem;
}
.sec-index-2 .col-6 ul li a{
	text-align: left;
	color: #ffffff;
	font-weight: 300;
	font-size: 1rem;
}
.sec-index-2 .col-6{
	background-color: #666666;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}
.mod{
	color: #ffffff;
	font-weight: bold;
	align-self: center;
	transition: all .3s;
	text-transform: uppercase;
	padding: .5rem 3rem;
	border: 2px solid #ffffff;
}
.mod:hover{
	text-decoration: none;
	color: #666666;
	background-color: #ffffff;
}
.sec-index-3 .col-12 h2{
	text-align: center;
	margin-top: 50px;
	color: #333;
	font-size: 2.8rem;
	margin-bottom: 50px;
}
.sec-index-3 .col-12 h2 a{
	text-align: center;
	color: #333;
	font-size: 2.8rem;
}
.sec-index-3 img{
	max-width: 150px;
}
.sec-index-3 .row {
	align-items: center;
}
.sec-index-3 .row .col-3{
	text-align: center;
	margin-bottom: 30px;
}
.sec-index-3 a img{
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	transition: all .3s;
}
.sec-index-3 a img:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
}
/*Styles servicios*/
.servicios-sec-1 .row{
	align-items: center;
	justify-content: center;
}
.servicios-sec-1 h1{
	text-align: center;
	margin-top: .3em;
	margin-bottom: .3em;
	font-size: 5rem;
}
.servicios-sec-2{
	background-image: url(../images/banner.jpg);
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: bottom;
}
.servicios-sec-2 h2{
	font-weight: bold;
}
.servicios-sec-2 .row{
	align-items: center;
	justify-content: center;
}
.servicios-sec-2 li{
	font-weight: bold;
}
.servicios-sec-3 .col-md-6{
	padding-top: 20px;
	padding-bottom: 20px;
}
.servicios-sec-3 h2{
	font-weight: bold;
}
.servicios-sec-3 .col-md-6:first-child{
	background-color: #009eff;
	color: #fff;
}
.servicios-sec-3 .col-md-6:first-child p, .servicios-sec-3 .col-md-6:first-child li{
	color: #ffffff;
}
.servicios-sec-3 .col-md-6:last-child{
	background-color: #eaf0f3;
}
.servicios-sec-4{
	background-image: url(../images/P1140692.JPG);
	background-position: 50%;
	background-attachment: fixed !important;
	background-size: cover;
}
.servicios-sec-4 .row{
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}
.servicios-sec-4 .col-md-6{
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
}
.servicios-sec-4 h2{
	font-weight: bold;
	color: #ffffff;
}
.servicios-sec-4 .col-md-6 p, .servicios-sec-4 .col-md-6 li{
	color: #ffffff;
}
.servicios-sec-4 .col-md-6:first-child{
	border-right: 1px solid #ffffff;
}
.cover-serv-1{
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 2;
	top: 0;
}
.servicios-sec-5{
	padding-top: 50px;
}
.servicios-sec-5 .col-md-6{
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
}
.servicios-sec-5 h2{
	font-weight: bold;
	color: #333333;
}
.servicios-sec-5 .col-md-6 p, .servicios-sec-5 .col-md-6 li{
	color: #333333;
}
.servicios-sec-5 .col-md-6:first-child{
	border-right: 1px solid #333333;
}
.sec-miembros-1{
	background-image: url(../images/meeting.jpg);
	background-position: 50%;
	background-size: cover;
}
.sec-miembros-1 h1{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 5em;
	color: #ffffff;
	z-index: 3;
	position: relative;
}
.sec-miembros-1 .row{
	justify-content: center;
	position: relative;
}
.sec-miembros-1 .row p{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #ffffff;
	position: relative;
	font-size: 1.3em;
	z-index: 3
}
.cover-miem-1{
	background-color: rgba(9, 26, 38, 0.5);
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 2;
	top: 0;
}
video{
	transition: all 1s;
}
/*Styles footer*/
footer{
	background-color: #333333;
	color: #fff;
	padding-top: 20px;
	
}
footer p{
	font-size: .9rem;
	margin-bottom: .5rem;
	font-weight: 300;
}
footer p b{
	font-weight: bold;
}
footer .col-md-8 p{
	text-align: center;
}
footer .col-md-4 p{
	text-align: left;
}
footer .col-8 a, footer .col-4 a{
	color: #ffffff;
}
footer .row{
	justify-content: center;
}
footer .row img{
	width: 100%;
	max-width: 100px;
	margin-right: 20px;
	margin-top: 20px;
}
footer .row .col-md-4 a{
	margin-bottom: 10px;
	display: block;
}
footer .hidden-xs-down .row{
	align-items: center;
}
footer .col-6{
	text-align: left;
}
@media only screen and (max-width: 500px){
	.servicios-sec-5 .col-md-6:first-child{
		border-right: 0px solid #333333;
		border-bottom: solid #333333;
	}
	.servicios-sec-4 .col-md-6:first-child{
		border-right: 0px;
	}
	.servicios-sec-2{
		background-image: url(../images/banner.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		background-attachment: fixed !important;
	}
	footer .col-12 p{
		text-align: center;
	}
	.servicios-sec-2 li{
		font-size: .8em;
	}
}